body {
    margin: 0px;
    background-color: #302F2F;
}

.wrap {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.movie__list {
    min-width: 500px;
    width: 40%;
    background-color: #F5F3F3;
    border-radius: 10px;
    height: 226px;
    margin: 50px 40px 40px 0px;
    padding: 19px;
}
